<div class="container col-12">
    <div class="card  border-secondary mb-3">
        <div class="card-header"> 
            <h3>Resultados</h3>
        </div>
        <div class="card-body d-flex align-items-center">
            <table class="table-responsive table-hover col-6" id="score-table">
                <thead class="point-table-head">
                    <tr id='score-board-header'>
                    <th id="header-score">Usuario</th>
                    <th id="header-score">Puntos</th>
                    </tr>
                </thead>
                <tbody>
                    <% users.each do |user| %>
                    <tr id='score-board'>
                        <td id="score-table"><%= user.email %></td>
                        <td id="score-table"><%= user.bets.pluck(:points).map{ |x| x|| 0 }.sum %></td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
            
</div>

