<h3>Nueva apuesta: <br></h3>
<h1><%= @matches.find(@custom_params).dynamic_title_str %> </h1>

<h2> <%= @matches.find(@custom_params).start_time.to_formatted_s %> </h2>

<br>

<%= render 'form', bet: @bet %>

<%= link_to 'Back', matches_path %>
