<p id="notice"><%= notice %></p>
<div class="container">
  <h1>Partidos PollaGol</h1>
  <br>
  <% if  current_user.admin? %>  
  <%= link_to 'Ingresar Nuevo Partido', new_match_path, :class => "btn btn-primary" %>
  <br><br>
  <h5>Admin: Ve, edita o elimina partidos, o bien</h5>
  <% end %>  
  
  <h4>Selecciona un partido para hacer tu apuesta</h4>
    
    <div class="row row-cols-1 row-cols-md-2 g-4">
    <% @matches.each do |match| %>
      <%= render 'match_jumbo', match: match, bets: @bets %>
    <% end %>
    </div>
    <br>
</div>
